.steps .background:first-child {
    background-color: var(--step1);
}

.steps .background:nth-child(2),
.steps .background:nth-child(2) .wrapper div {
    background-color: var(--step2);
}

.steps .background:nth-child(3),
.steps .background:nth-child(3) .wrapper div {
    background-color: var(--step3);
}

.steps .background:nth-child(4),
.steps .background:nth-child(4) .wrapper div {
    background-color: var(--step4);
}

.steps .background:nth-child(2) path {
    fill: var(--step2);
}

.steps .background:nth-child(3) path {
    fill: var(--step3);
}

.steps .background:nth-child(4) path {
    fill: var(--step4);
}

@keyframes Glow {

    0%,
    100% {
        filter: brightness(.75)
    }

    50% {
        filter: brightness(0.5)
    }
}


.steps .background:nth-child(2):not(.active) {
    animation: Glow 6s ease-in-out infinite;
}

.steps .background:nth-child(3):not(.active) {
    animation: Glow 5s ease-in-out infinite;
}

.steps .background:nth-child(4):not(.active) {
    animation: Glow 7s ease-in-out infinite;
}