.waves .sun {
    left: 15%;
    top: 55%;
}

.waves .background:first-child {
    background-color: var(--wave1);
}

.waves .background:nth-child(2),
.waves .background:nth-child(2) .wrapper div {
    background-color: var(--wave2);
}

.waves .background:nth-child(3),
.waves .background:nth-child(3) .wrapper div {
    background-color: var(--wave3);
}

.waves .background:nth-child(4),
.waves .background:nth-child(4) .wrapper div {
    background-color: var(--wave4);
}

.waves .background:nth-child(2) path {
    fill: var(--wave2);
}

.waves .background:nth-child(3) path {
    fill: var(--wave3);
}

.waves .background:nth-child(4) path {
    fill: var(--wave4);
}

@keyframes MoveUpDown {

    0%,
    100% {
        margin-top: 0;
    }

    50% {
        margin-top: 40px;
    }
    
}

.waves .background:nth-child(2):not(.active) .wrapper {
    animation: MoveUpDown 6s ease-in-out infinite;
}

.waves .background:nth-child(3):not(.active) .wrapper {
    animation: MoveUpDown 5s ease-in-out infinite;
}

.waves .background:nth-child(4):not(.active) .wrapper {
    animation: MoveUpDown 7s ease-in-out infinite;
}