.waves .background:nth-child(2),
.waves .background:nth-child(2) .wrapper div {
    background-color: var(--wave2);
}

.waves .background:nth-child(3),
.waves .background:nth-child(3) .wrapper div {
    background-color: var(--wave3);
}

.waves .background:nth-child(4),
.waves .background:nth-child(4) .wrapper div {
    background-color: var(--wave4);
}

.waves .background:nth-child(2) path {
    fill: var(--wave2);
}

.waves .background:nth-child(3) path {
    fill: var(--wave3);
}

.waves .background:nth-child(4) path {
    fill: var(--wave4);
}

@keyframes MoveUpDown {

    0%,
    100% {
        margin-top: 0;
    }

    50% {
        margin-top: 40px;
    }

}

.waves .background:nth-child(2):not(.active) .wrapper {
    animation: MoveUpDown 6s ease-in-out infinite;
}

.waves .background:nth-child(3):not(.active) .wrapper {
    animation: MoveUpDown 5s ease-in-out infinite;
}

.waves .background:nth-child(4):not(.active) .wrapper {
    animation: MoveUpDown 7s ease-in-out infinite;
}

.guessTheTestVideo {
    max-width: 600px;
    margin-top: 20px;
    aspect-ratio: 16 / 9;
    width: 100%;
}

.swipe {
    position: relative;
    filter: var(--swipe-filter);
}

.path {
    width: 20px;
    height: 20px;
    margin: 40px auto -40px calc(50% + 18px);
    background: rgba(255, 255, 255, 0.5);
    border-radius: 40px;
    top: 28px;
    left: 78px;
    visibility: hidden;
    animation: swipe-dot 2s 0.5s infinite;
}

.hand-icon {
    position: relative;
    margin: 0px auto;
    background-image: url('https://i.postimg.cc/8556gm60/hand.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 100px;
    height: 100px;
    transform-origin: 52% 62%;
    animation: swipe-hand 2s infinite;
}

@keyframes swipe-hand {
    25% {
        transform: translate(20px) rotate(30deg);
    }

    50% {
        transform: translate(-20px) rotate(-15deg);
    }

    100% {
        transform: translate(0px) rotate(0);
    }
}

@keyframes swipe-dot {
    12% {
        visibility: visible;
        width: 40px;
    }

    25% {
        visibility: visible;
        transform: translate(-65px);
        width: 20px;
    }

    26% {
        visibility: hidden;
    }
}

.abTests {
    max-width: 600px;
    margin: 20px auto;
}

.abTests img {
    width: 100%;
}