.peaks .background:nth-child(2),
.peaks .background:nth-child(2) .wrapper div {
    background-color: var(--peak2);
}

.peaks .background:nth-child(3),
.peaks .background:nth-child(3) .wrapper div {
    background-color: var(--peak3);
}

.peaks .background:nth-child(4),
.peaks .background:nth-child(4) .wrapper div {
    background-color: var(--peak4);
}

.peaks .background:nth-child(2) path {
    fill: var(--peak2);
}

.peaks .background:nth-child(3) path {
    fill: var(--peak3);
}

.peaks .background:nth-child(4) path {
    fill: var(--peak4);
}

@keyframes Mountains {

    0%,
    100% {
        left: 0;
    }

    50% {
        left: -20vw;
    }
}

.peaks .background .wrapper {
    margin-right: -20vw;
}

.peaks .background:nth-child(2):not(.active) .wrapper {
    animation: Mountains 6s ease-in-out infinite !important;
}

.peaks .background:nth-child(3):not(.active) .wrapper {
    animation: Mountains 5s ease-in-out infinite !important;
}

.peaks .background:nth-child(4):not(.active) .wrapper {
    animation: Mountains 7s ease-in-out infinite !important;
}

.company-logos {
    margin: 5px -5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.company-logos img {
    width: 50%;
    padding: 5px;
    max-width: 300px;
}

.skills {
    font-size: 18px;
    margin-bottom: 10px;
}