.homepageWrapper {
    z-index: 10;
}

.sun {
    height: 95vw;
}

.content-title {
    font-size: 14vw;
    padding-bottom: 10px;
}

.content-subtitle {
    font-size: 6vw;
    line-height: 8vw;
}

.content-wrapper {
    text-align: left;
    max-width: 1600px;
    margin: 0px auto;
}

@media only screen and (min-width: 600px) {
    .sun {
        height: 85vw;
    }

    .content-title {
        font-size: 6vw;
    }

    .content-subtitle {
        font-size: 3vw;
        line-height: 4vw;
    }
}

@media only screen and (min-width: 1000px) {
    .content-title {
        font-size: 6vw;
    }

    .content-subtitle {
        font-size: 3vw;
    }

    .content-wrapper {
        display: flex;
        padding: 0px 50px;
        gap: 20px;
    }

    .content-column {
        width: 50%;
    }

}

.skyWrapper {
    position: absolute;
    width: 300vw;
    z-index: 7;
    height: 100%;
    background-color: var(--wave1);
}

.skyWrapper[current-page="1"] {
    background-color: var(--peak1);
}

.skyWrapper[current-page="2"] {
    background-color: var(--step1);
}

.sunWrapper {
    width: 100%;
    height: 300vw;
    position: absolute;
    z-index: 10;
    pointer-events: none;
}


.cycle .sunWrapper {
    animation: Cycle 1.5s ease infinite;
    animation-iteration-count: 1;
}


@keyframes Cycle {

    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }

}

.sun {
    opacity: .85;
    position: absolute;
    width: 100%;
    height: 70vw;
    z-index: 10;
    pointer-events: none;
    text-align: center;
    transform: rotate(-90deg);
    padding: 20px;
    transition: all 0.4s ease;
}

.sun:before {
    content: '';
    position: absolute;
    background-color: var(--sun);
    box-shadow: 0px 0px 18px var(--sun);
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    border-radius: 50%;
    margin-left: -30px;
    animation: GlowSun 5s ease infinite;
}

@keyframes GlowSun {

    0%,
    100% {
        filter: brightness(1)
    }

    50% {
        filter: brightness(1.35)
    }

}

.sun[current-page="1"] {
    transform: rotate(0deg);
    padding-top: 60px;
}


.sun[current-page="2"] {
    transform: rotate(90deg);
}

.sun.hide {
    opacity: 0;
}

.singleImage {
    width: 100%;
    max-width: 600px;
}